In [14]:
import tensorflow as tf 
from tensorflow.keras.models  import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
model = load_model('model.h5')

with open('onehot_encoder_geo.pkl','rb') as file:
   geo_encoder = pickle.load(file)
    
with open('label_encoder_gender.pkl','rb') as file:
    label_Gender = pickle.load(file)
    
with open('scaler.pkl','rb') as file:
   scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [35]:
input = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',   
    'Age': 40,
    'Tenure': 3,        
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [36]:
geo_encoded = geo_encoder.transform([[input['Geography']]]).toarray()
geo_encoded_df = pandas.DataFrame(geo_encoded, columns=geo_encoder.get_feature_names_out(["Geography"]))
geo_encoded_df

c:\Users\shaha\.conda\envs\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [37]:
input_df = pd.DataFrame([input])
input_df
# input_df['Gender'] =  label_Gender.transform([input['Gender']])

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [38]:
input_df['Gender'] = label_Gender.transform([input['Gender']])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [39]:
input_df = pd.concat([input_df, geo_encoded_df], axis=1)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [40]:
input_df.drop(['Geography'], axis=1, inplace=True)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [41]:
input_scaler = scalar.transform(input_df)
input_scaler

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [44]:
#perdict
prediction = model.predict(input_scaler)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 234ms/step

array([[0.05275327]], dtype=float32)